.nyc_output/
build/
coverage/
dist-spec/
e2e/
src/

.npmignore
.nycrc.json
.prettierignore
.travis.yml
jasmine.json
prettier.json
tsconfig.json
tsconfig.lint.json
tsconfig.spec.json
tslint.json
tslint.spec.json
yarn.lock
